{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="col-sm-12 col-md-6">
<h1>Hi</h1>
<h2>My name's Sam Sedgeman</h2>
<p class="lead">I take pride in being a friendly professional individual, who aspires to tailor designs specifically to your needs.
  Just the way it should be.</p>
  <p>- Sam Sedgeman, Creative Director -</p>
</div>
<div class="col-sm-12 col-md-6 avatar-container">
</div>
</div>

<div class="container-parallax container-slide">
<h3 class="tertiary-page-title text-shadow">Find Me</h3>
<p class="text-shadow">For the latest news and best offers on my services. Don't forget to find me on...</p>
<ul id="social-icons">
<li><a href=""><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a></li>
<li><a href=""><i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i></a></li>
<li><a href=""><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a></li>
</ul>
</div>
{% endblock %}