{% extends 'base.html' %}

{% block content %}
<h2>How Does It Work From Here?</h2>
<p class="lead">How to get from idea to finished product...</p>
<div class="row">
<ul>
<li class="text-center">
    <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
    <p class="lead">Register an account</p>
    <p>To gain access to the client portal you must first login. If you are a new user, you will need to register an account</p>
</li>
<li class="text-center">
    <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
    <p class="lead">Browse through services</p>
    <p>Browse through the services available by navigating to the services page and pick the service you require.</p>
</li>
<li class="text-center">
    <i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i>
    <p class="lead">Customize your project</p>
    <p>Adjust the options on the form to tailor the service to your needs. Once you are happy press submit.</p>
</li>
<li class="text-center">
    <i class="fa fa-ticket fa-5x" aria-hidden="true"></i>
    <p class="lead"> Your Quotation</p>
    <p>Depending on the service you have selected you will get a summary of the project details with an outlined cost. Once you are 100% happy with the project details and costings. Press the 'Give me the greenlight' button and you will be directed to pay the agreed project costs. Once this is done, I will start work as soon as possible</p>
</li>
<li class="text-center">
    <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
    <p class="lead">Like it or nah?</p>
    <p>Well, I hope it's the former! But seriously my work thrives from the feedback you can give. So once you have your project delivered, I would really like it if you could give me a review and say how much you liked the service(fingers crossed!). Lastly but not least, I would love it if you would allow me to host your project on my online portfolio</p>
</li>

</ul>
</div>

  
{% endblock %}
