{% extends 'base.html' %}

{% block content %}

<div class="col-12 text-center container">
    
    <h2 class="secondary-page-title">How Does It Work From Here?</h2>
    <p class="lead">How to get from idea to finished product...</p>
    <ul>
        <div class="row">
        <div class="col-md-4">
            <li class="card">
                <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                <p class="lead">Register an account</p>
                <p>To gain access to the client portal you must first login. If you are a new user, you will need to register an account</p>
            </li>
            </div>
            <div class="col-md-4">
            <li class="card">
                <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                <p class="lead">Browse through services</p>
                <p>Browse through the services available by navigating to the services page and pick the service you require.</p>
            </li>
            </div>
            <div class="col-md-4">
            <li class="card">
                <i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i>
                <p class="lead">Customize your project</p>
                <p>Choose your plan from one of the three ranges. Basic, Standard and Premium</p>
            </li>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <li class="card">
                <i class="fa fa-ticket fa-5x" aria-hidden="true"></i>
                <p class="lead"> Your Quotation</p>
                <p>Depending on the service you have selected you will get a summary of the project details with an outlined cost. Please take this time to eagle eye all the details as this serves as my design guidelines and is the contractual agreement between you and me of the work being undertaken.   
                </p>
            </li>
            </div>
            <div class="col-md-4">
            <li class="card">
                <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
                <p class="lead">Give me Your Green Light</p>
                <p>Once you are 100% happy with the project details and costings, press the confirm button and you will be directed to pay the agreed project costs. Once this is done, I will start work as soon as possible and to the deadline agreed on in the project details.
                </p>
            </li>
            </div>
            <div class="col-md-4">
            <li class="card">
                <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
                <p class="lead">Sharing is Caring</p>
                <p>My work thrives from the feedback you can give. So once you have had your project delivered. I would really like it if you could give me a review and say how much you liked the service(fingers crossed!). I will then, with your permission add this to my portfolio gallery with your review.
                </p>
            </li>
            </div>
        </div>
    </ul>

</div>
<div id="services-container">
<div class="container-slide">
<h3 class="tertiary-page-title text-shadow">Services</h3>
<p class="text-shadow">Are you ready to make your first step into design piece of mind? Well? what are you waiting for click the link below...</p>
<a class="btn btn-default" href="{% url 'services' %}">Our journey begins here</a>
</div>
</div>

  
{% endblock %}
