{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container">
<h1>My Portfolio</h1>
<p>I put a great deal of effort in my work and feel that shines through in my work. I have been lucky to work with some fantastic clients. Please feel free to browse through my most recent projects.</p>
 <div class="photo-gallery container-gallery">

            <ul id="lightgallery">
                <li id="thumb-1" class="col-sm-12 col-md-6 col-lg-3 col-centered"  data-src="{% static 'images/portfolio/afcsta.jpg' %}" data-sub-html="<h4>Web Development &amp; Support</h4><p>CMS website development for AFC St Austell. </p>" >
                    <a href="">
                        <img class="img-responsive" src="{% static 'images/portfolio/afcsta.jpg' %}" alt="Thumb-1">
                    </a>
                </li>
                 <li id="thumb-2" class="col-sm-12 col-md-6 col-lg-3 col-centered"  data-src="{% static 'images/portfolio/lightingSolutions.jpg' %}" data-sub-html="<h4>Logo design</h4><p>Logo and branding project for Lighting Solutions Ltd</p>" >
                    <a href="">
                        <img class="img-responsive" src="{% static 'images/portfolio/lightingSolutions.jpg' %}" alt="Thumb-2">
                    </a>
                </li>
                 <li id="thumb-3" class="col-sm-12 col-md-6 col-lg-3 col-centered"  data-src="{% static 'images/portfolio/srservicessw.jpg' %}" data-sub-html="<h4>Web Development &amp; Support</h4><p>Website built using Bootstrap 3.4 framework for SR Services SW</p>" >
                    <a href="">
                        <img class="img-responsive" src="{% static 'images/portfolio/srservicessw.jpg' %}" alt="Thumb-3">
                    </a>
                </li>
                 <li id="thumb-4" class="col-sm-12 col-md-6 col-lg-3 col-centered"  data-src="{% static 'images/portfolio/statc.jpg' %}" data-sub-html="<h4>Rebrand and CMS Web Development</h4><p>I had great fun on this project for St Austell Torchlight Carnival</p>" >
                    <a href="">
                        <img class="img-responsive" src="{% static 'images/portfolio/statc.jpg' %}" alt="Thumb-4">
                    </a>
                </li>
            </ul>
        </div>
</div>

{% endblock %}