{% extends "base.html" %}
{% block content %}
<div class="container">
<h2 class="secondary-page-title">Password Reset Successful!</h2>
<p class="lead">An email should be whizzing to your inbox, right now</p>
<p>In your email will be instructions for setting your password to the e-mail address you submitted.</p>
<p>If you don't get it in 24hours, please feel free to get in touch with customer support by clicking the link below.</p>
<a href="mailto:support@samsedgeman.co.uk?subject=Customer%20Support%20Enquiry" class="btn btn-primary">Customer Support</a>
</div>
{% endblock %}