/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Roboto+Mono:wght@500;700&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;

}

.secondary-page-title{padding:4rem 0;}
.tertiary-page-title{padding:3rem 0;}
body,html{
font-family: 'Roboto Mono', monospace;
font-weight: 500;
}
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);}
.navbar-default .navbar-nav > li > a{ font-family: 'Montserrat', sans-serif;}
.link-inverse{color:#fff;}
a{color:#E5097F; transition: 0.2s ease-in-out;}
a:hover,a:focus,a.active{color:#730440;text-decoration:none;}
ul{list-style-type: none; padding-left:0;}
.fa{padding:0 5px;}

footer {
 
  width: 100%;
  padding:25px 0 10px 0;
  background-color: #1B1332;
  color:#fff;
}

#social-icons{display:flex;}
 #social-icons li{margin:auto; padding:2.5rem;}
/* slider */
.slide-index{ background-image: url("../images/slider-background.jpg"); background-repeat:no-repeat; background-size: cover;}
.bx-wrapper{margin-bottom:0;}
.bx-wrapper .bx-pager{position:absolute; bottom:15px;}


/* Containers*/
.container-slide{text-align: center; color:#fff;padding:5.2rem;}
.content-container{min-height:80vh;}
.container-nav{display:flex; padding:10px;}
.container-parallax{width:100%; background-image:url("../images/branded-background.png"); background-position:50% 108px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
#services-container{width:100%; background-image:url("../images/branded-background.png"); background-position:50% 108px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
.avatar-container{background-image:url("../images/web_avatar.svg");background-repeat: no-repeat; background-size: contain; min-height:300px;}
.service-icon{width:300px; height:300px; background-size:contain; background-repeat: no-repeat;}
#navbar{margin:auto;}
.service-cart-image{height:250px;  background-size:contain; background-repeat: no-repeat;}
.card{padding:20px;border: 1px solid #e2e2e266;border-radius: 3px;}
.card:hover {
    background: #e8e8e817;
    -webkit-box-shadow: 7px 9px 77px -21px rgba(0,128,130,1);
-moz-box-shadow: 7px 9px 77px -21px rgba(0,128,130,1);
box-shadow: 7px 9px 77px -21px rgba(0,128,130,1);
    transition: 0.4s ease-in-out;}