{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row row-flex">
<div class="row">
{% for service in services %}

        <div class="col-md-4">
            <div class="card">
                <img src="{{ MEDIA_URL }}{{ service.image }}" width="150" height="150">
                <h3>{{ service.name }}</h3>
                <p>&pound;{{ service.base_price }}</p>
                <a class="btn btn-default" href="{% url 'service_detail_view' service.id %}">Learn More</a>
            </div>
        </div>


{% endfor %}
</div>
</div>

</div>

{% endblock %}